<%= simple_form_for(@post) do |f| %>
<%= f.error_notification %>


<div class="field">
    <%= f.input :title, required:true, autofocus: true, input_html: { class: "form-control" }, label_html: { class: "label" }%>
</div>

  <div class="field">
    <%= f.input :body, autocomplete: "body", wrapper: false, input_html: { class: "form-control" }, label_html: { class: "label" } %>
  </div>

  <%= f.button :submit, class: "button is-info" %>
  <% end %>
